## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable = 20
print(variable)

20

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(variable))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre = "Valentina"

5) Crear una constante que contenga el número Pi

In [1]:
NUMERO_PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [3]:
print(type(NUMERO_PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [4]:
E = 7.1512

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [52]:
variable_1 = 'True'
variable_2 = True
#no son lo mismo ya que uno es string y el otro es booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(variable_1))
print(type(variable_2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [7]:
suma = 27 + 6.5

11) Realizar una operación de suma de un número definido como string con un entero

In [11]:
numero_1 = "135"
numero_2 = 127
suma = int(numero_1) + numero_2

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [9]:
potencia = E**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [14]:
multiplicacion = int(input("Ingrese un numero: "))
operacion = 10 * multiplicacion
print(multiplicacion)
print(operacion)

55
550

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
division = 27/4
print(division)

6.75

15) De la división anterior solamente mostrar la parte entera

In [16]:
division_entero = 27//4
print(division_entero)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
division_resto = 27 % 4
print(division_resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [15]:
operacion = 4 * 6 + 3
print(operacion)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [53]:
comparacion = "2" == 2
print(comparacion)
#porque son diferentes tipos de datos, "2" es una cadena de texto y 2 es un número entero por lo que no son iguales

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [19]:
comparacion = int("2") == 2
print(comparacion)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [20]:
#porque utiliza la coma cuando debería ser un punto
a = float('3.8')
print(a)

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [54]:
#porque no se pueden realizar operaciones matematicas entre string y entero
#con los dos operandos como enteros no arroja error
calculo = 2 + int('2')
print(calculo)
#y con los dos operandos como strings tampoco arroja error, pero como son cadenas de texto los numeros se unen
calculo = str(2) + '2'
print(calculo)

4
22

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [28]:
menu = """ 
1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir
"""
print(menu)

1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [29]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [30]:
print(lista[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [55]:
lista[2] = "Valentina"
print(lista)

[1, 2, 'Valentina', 'Valentina', 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [33]:
matriz = [["A", "B", "C"], ["D", "E", "F"], ["G", "H", "I"]]

27) Imprimir la matriz creada en el punto 26

In [34]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [35]:
matriz[1][1] = "Z"
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [36]:
matriz[0] = [1, 2, 3]
print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [38]:
tupla = tuple()
mi_tupla = ("Adidas", "Nike", "Old Navy", "Under Armour", "Reebok")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [43]:
print(mi_tupla[0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [47]:
tupla = tuple()
mi_tupla[1] = "Puma"
#no se puede porque las tuplas no se pueden modificar

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [49]:
diccionario_1 = {"Nombre":"Valentina", "Apellido":"Martini", "Edad":18, "Hobbies":"Escuchar música"}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [50]:
print(diccionario_1["Hobbies"])

Escuchar música

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [51]:
diccionario_1["Edad"] = 20
print(diccionario_1)

{'Nombre': 'Valentina', 'Apellido': 'Martini', 'Edad': 20, 'Hobbies': 'Escuchar música'}